/* In your component's CSS or SCSS file */
:host ::ng-deep .mat-datepicker-content {
    background-color: #f0f0f0; /* Set background color of the datepicker popup */
  }
  
  :host ::ng-deep .mat-calendar {
    background-color: #ffffff; /* Main background of the calendar */
  }
  
  :host ::ng-deep .mat-calendar-body-today {
    border-color: #3f51b5; /* Color of today’s date border */
  }
  
  :host ::ng-deep .mat-calendar-period-button,
  :host ::ng-deep .mat-calendar-previous-button,
  :host ::ng-deep .mat-calendar-next-button {
    color: #ff4081; /* Buttons at the top */
  }
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #3f51b5;
  }
  
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-width: 2px;
  }
    